<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= turbo_frame_tag "job" do %>
      <p class="my-5 flex items-center">
      <strong class="block font-medium mb-1 mr-2">Title:</strong>
        <%= @job.title %>
      </p>

    <p class="my-5 flex items-center">
      <strong class="block font-medium mb-1 mr-2">Description:</strong>
      <%= @job.description %>
    </p>

      <%= link_to "Edit this job", edit_job_path(@job), class: "border mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
     
    <% end %>
    <%= link_to "Back to jobs", jobs_path, "data-turbo-frame": "_top",
    class: "border ml-2 rounded-lg py-3 px-]5 bg-gray-100 inline-block font-medium" %>

  </div>
</div>
